.hobbies__title {
    font-size: var(--size-3xl);
    color: var(--color-blue200);
    font-weight: 900;
    margin-bottom: 1rem;
}

.hobbies__accordion {
    --_button-size: 2.5rem;
    --_panel-padding: .3rem;
    --_title-gap: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;

    contain: content;
}

.hobbies__accordion-panel {
    position: relative;
    isolation: isolate;

    flex-basis: calc(var(--_panel-padding) * 2 + var(--_button-size));
    overflow: hidden;

    padding: var(--_panel-padding);
    border-radius: calc(var(--_panel-padding) + var(--_button-size) / 2);

    font-weight: 400;

    outline: 3px solid transparent;
    outline-offset: 4px;

    background-color: hsl(0, 0%, 100%);
    background-blend-mode: multiply;
    background: var(--_background-url, url("/home/about.jpg"));
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    transition: outline .25s, flex-basis .75s, background-color .75s;
}

.cooking {
    background: url("/hobbies/food_mix.png");
    background-color: hsl(0, 0%, 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.skiing {
    background: url("/hobbies/ski_jump.jpg");
    background-color: hsl(0, 0%, 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.problem-solving {
    background: url("/hobbies/problem_solving.png");
    background-color: hsl(0, 0%, 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.gaming {
    background: url("/hobbies/gaming_mix.png");
    background-color: hsl(0, 0%, 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) {
    flex-basis: 24rem;
    flex-grow: 1;
    overflow: auto;

    background-color: hsl(200, 50%, 25%);
    background-blend-mode: multiply;
}

.hobbies__accordion-panel:has([aria-expanded="false"]):hover {
    cursor: pointer;
    outline-color: var(--color-blue);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__inside-content {
    transform: translateY(0);
    opacity: 1;

    transition: transform .75s .75s, opacity .75s .75s, .75s;
}

.hobbies__inside-content {
    padding: calc(var(--_button-size) / 2);
    font-size: var(--size-sm);

    transform: translateY(2rem);
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hobbies__accordion-icon-container {
    width: var(--_button-size);
}

.hobbies__accordion-icon {
    background: hsla(200, 100%, 3%, .5);
    width: 100%;
    padding: .3rem;
    border-radius: 50%;

    fill: var(--color-blue600);
    stroke: var(--color-blue600);

    transition: 1s;
}

.hobbies__panel-title {
    font-size: var(--size-lg);
    color: var(--color-blue400);
    font-weight: 700;
}

.hobbies__strong {
    color: var(--color-purple);
}

.hobbies__accordion-trigger {
    background-color: hsla(200, 100%, 3%, .7);
    display: flex;
    align-items: center;
    gap: var(--_title-gap);
    flex-direction: row;

    padding-right: 1rem;
    border-radius: calc(var(--_button-size) / 2);

    outline: 0;
}

.hobbies__accordion-panel:focus-within {
    outline: 3px solid var(--color-blue);
    outline-offset: 4px;
}

/* ---------------------------- icons animations -------------------------------- */

.hobbies__accordion-icon__ski-ski,
.hobbies__accordion-icon__ski-body,
.hobbies__accordion-icon__ski-sticktip,
.hobbies__accordion-icon__ski-stick1,
.hobbies__accordion-icon__ski-head,
.hobbies__accordion-icon__problemsolving-cog,
.hobbies__accordion-icon__gaming-controller,
.hobbies__accordion-icon__design-ring1,
.hobbies__accordion-icon__design-ring2,
.hobbies__accordion-icon__design-ring3,
.hobbies__accordion-icon__design-cloud,
.hobbies__accordion-icon__cooking-chefhat,
.hobbies__accordion-icon__cooking-whisk {
    transition: 1s;
}

.hobbies__accordion-icon__ski-ski {
    stroke-dasharray: 70 1000000;
}

.hobbies__accordion-icon__ski-body {
    stroke-dasharray: 182 1000000;
}

.hobbies__accordion-icon__ski-stick1 {
    transform: scale(3);
    transform-origin: 50% 50%;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__ski-ski {
    stroke-dasharray: 175 1000000;
    stroke-dashoffset: -116;
    transform: translateY(5%);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__ski-body {
    stroke-dasharray: 175 1000000;
    stroke-dashoffset: -189;
    transform: translateY(5%);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__ski-head {
    transform: scale(0);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__ski-sticktip {
    transform: translate(50px, -20px);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__ski-stick1 {
    transform: rotate(360deg)
}

.hobbies__accordion-icon__problemsolving-cog {
    transform-origin: 55.8% 49.7%;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__problemsolving-cog {
    transform: rotate(270deg) scale(1);
}

.hobbies__accordion-icon__gaming-mouse {
    transform: scale(4) translate(100%);
    transform-origin: 0% 70%;
    transition: 1s;
}

.hobbies__accordion-icon__gaming-keyboard {
    transform: translate(100%);
    transition: 1s;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__gaming-controller {
    transform: scale(0);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__gaming-keyboard {
    transform: translate(0%);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__gaming-mouse {
    transform: scale(1);
}

.hobbies__accordion-icon__design-ring1 {
    stroke-dasharray: 63 1000;
    stroke: var(--color-blue);
}

.hobbies__accordion-icon__design-ring2 {
    stroke-dasharray: 63 1000;
    stroke-dashoffset: -150;
    stroke: var(--color-blue);
}

.hobbies__accordion-icon__design-ring3 {
    stroke-dasharray: 27 1000;
    stroke: var(--color-blue);
}

.hobbies__accordion-icon__design-cloud {
    stroke-dasharray: 30 1000;
    stroke-dashoffset: -205;
    stroke: var(--color-blue);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__design-ring1 {
    stroke-dasharray: 65 1000;
    stroke-dashoffset: -89;
    stroke: var(--color-purple600);
    stroke-width: 8;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__design-ring2 {
    stroke-dasharray: 100 1000;
    stroke-dashoffset: -2;
    stroke: var(--color-green);
    stroke-width: 8;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__design-ring3 {
    stroke-dasharray: 143 1000;
    stroke-dashoffset: -70;
    stroke: red;
    stroke-width: 8;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__design-cloud {
    stroke-dasharray: 193 1000;
    stroke-dashoffset: 0;
    stroke-width: 6;
}

.hobbies__accordion-icon__cooking-whisk {
    transform: scale(0);
    transform-origin: 50% 50%;
}

.hobbies__accordion-icon__cooking-chefhat {
    transform-origin: 50% 50%;
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__cooking-whisk {
    transform: scale(1) rotate(405deg);
}

.hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__accordion-icon__cooking-chefhat {
    transform: scale(3) translateY(15%);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .hobbies__title {
        font-size: var(--size-4xl);
    }

    .hobbies__accordion {
        --_button-size: 3rem;
        --_panel-padding: .4rem;
        --_title-gap: .625rem;
    }

    .hobbies__panel-title {
        font-size: var(--size-xl);
    }

    .hobbies__inside-content {
        font-size: var(--size-base);
    }

    .hobbies__accordion-panel:has([aria-expanded="true"]) {
        flex-basis: 28rem;
    }
}

/* md */
@media (min-width: 768px) {
    .hobbies__accordion-panel:has([aria-expanded="true"]) {
        flex-basis: 32rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .hobbies__title {
        font-size: var(--size-5xl);
    }

    .hobbies__accordion {
        --_button-size: 3.5rem;
        --_panel-padding: .5rem;
        --_title-gap: .75rem;
        flex-direction: row;
        height: 34rem;
    }

    .hobbies__accordion-panel {
        display: flex;
        flex-direction: row;
        transition: 1s;
    }

    .hobbies__panel-heading {
        width: var(--_button-size);
    }

    .hobbies__inside-content {
        padding: calc(var(--_panel-padding) * 2);
        padding-top: var(--_panel-padding);
    }

    .hobbies__accordion-panel:has([aria-expanded="true"]) .hobbies__inside-content {
        transition: .75s 1s;
    }

    .hobbies__accordion-trigger {
        flex-direction: row;
        writing-mode: sideways-rl;

        padding-right: 0;
        padding-bottom: 1rem;

        outline: 0;
    }
}

/* xl */
@media (min-width: 1280px) {
    .hobbies__title {
        font-size: var(--size-6xl);
    }

    .hobbies__accordion {
        height: 38rem;
    }

    .hobbies__panel-title {
        font-size: var(--size-2xl);
    }

    .hobbies__inside-content {
        font-size: var(--size-lg);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .hobbies__accordion {
        --_button-size: 4rem;
        --_panel-padding: .6rem;
        --_title-gap: 1rem;
        height: 44rem;
    }

    .hobbies__panel-title {
        font-size: var(--size-2xl);
    }

}