:root {
	/* colors */
	--color-purple: #c411d4;
	--color-purple-dark: hsl(295, 100%, 5%);
	--color-purple-light: hsl(295, 100%, 95%);
	--color-purple200: hsl(295, 30%, 85%);
	--color-purple400: hsl(295, 50%, 70%);
	--color-purple600: hsl(295, 85%, 45%);
	--color-purple800: hsl(295, 95%, 30%);
	--color-purple950: hsl(295, 100%, 10%);

	--color-green: #21d411;
	--color-green-dark: hsl(115, 100%, 3%);
	--color-green200: hsl(115, 30%, 85%);
	--color-green400: hsl(115, 50%, 70%);
	--color-green600: hsl(115, 85%, 45%);
	--color-green800: hsl(115, 95%, 30%);
	--color-green950: hsl(115, 100%, 10%);

	--color-orange: #d45211;
	--color-orange-dark: hsl(20, 100%, 3%);
	--color-orange200: hsl(20, 30%, 85%);
	--color-orange400: hsl(20, 50%, 70%);
	--color-orange600: hsl(20, 85%, 45%);
	--color-orange800: hsl(20, 95%, 30%);
	--color-orange950: hsl(20, 100%, 10%);

	--color-blue: #1193d4;
	--color-blue-dark: hsl(200, 100%, 3%);
	--color-blue200: hsl(200, 30%, 85%);
	--color-blue400: hsl(200, 50%, 70%);
	--color-blue600: hsl(200, 85%, 45%);
	--color-blue800: hsl(200, 95%, 30%);
	--color-blue950: hsl(200, 100%, 10%);

	/* sizes */
	--size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-2xl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: calc(1em + .5rem);
}

html {
	scroll-behavior: smooth;
	color-scheme: dark;
}

body {
	font-family: "Satoshi", sans-serif;
	background-color: var(--color-purple-dark);
	font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	user-select: none;
}

strong {
	color: var(--color-green800);
}

button {
	display: inline-block;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit;
}

/* Scroll Bar */
body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--color-purple);
}