/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

@keyframes shake {

	0%,
	50%,
	100% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(-2deg);
	}

	75% {
		transform: rotate(2deg);
	}
}

.spacer {
	aspect-ratio: 960/150;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/* border: 2px solid red; */
}

.layer_purple-to-orange {
	background-image: url("/spacers/purple-to-orange.svg");
}

.layer_orange-to-green {
	background-image: url("/spacers/orange-to-green.svg");
}

.layer_green-to-purple {
	background-image: url("/spacers/green-to-purple.svg");
}

.bg-orange {
	background-color: var(--color-orange-dark);
}

.bg-green {
	background-color: var(--color-green-dark);
}

.container {
	width: 100%;
	margin-inline: auto;
	padding-inline: 1rem;

	/* border: 2px solid var(--color-purple); */
}

/* xs */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

/* xl */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}