.home__return-top {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: fixed;
    bottom: .5rem;
    right: .5rem;
}

.home__return-top-svg {
    width: 1.5rem;
    height: 1.5rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .home__return-top {
        width: 3rem;
        height: 3rem;

        bottom: 1rem;
        right: 1rem;
    }

    .home__return-top-svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .home__return-top {
        width: 4rem;
        height: 4rem;

        bottom: 1.5rem;
        right: 1.5rem;
    }

    .home__return-top-svg {
        width: 2rem;
        height: 2rem;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    @media (min-width: 1024px) {
        .home__return-top {
            width: 5rem;
            height: 5rem;

            bottom: 2rem;
            right: 2rem;
        }

        .home__return-top-svg {
            width: 3rem;
            height: 3rem;
        }
    }
}