.component__Button {
    display: inline-block;
    font-weight: 900;
    text-decoration: none;
    background-color: var(--color-purple);
    color: var(--color-purple950);
    padding: 0.5em 1.2em;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 24px hsla(295, 85%, 45%, 0.5),
        0 0 8px hsla(295, 85%, 45%, 0.75),
        0 0 100px -10px hsla(295, 85%, 45%, 1);
    transition: box-shadow 0.3s, .5s;
    cursor: pointer;
}

.component__Button:hover {
    animation: shake 0.2s 0s 1;
    box-shadow: 0 0 32px hsla(295, 85%, 45%, 0.5),
        0 0 16px hsla(295, 85%, 45%, 0.75),
        0 0 100px -10px hsla(295, 85%, 45%, 1);
}