.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    padding-right: 3rem;
    z-index: 99;
}

.header__menu {
    display: none;
}

.header__hamburger {
    color: var(--color-purple400);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    transition: .25s;

    position: relative;
    z-index: 99;
}

.header__hamburger:hover {
    color: var(--color-purple600);
    transform: scale(1.1);
}

.header__hamburger .header__hamburger-line {
    stroke-dasharray: 60 31 60 32 60 1000;
    transform-origin: 50% 50%;
    transition: 1.25s;
}

.header__hamburger[aria-expanded="true"] .header__hamburger-line {
    transform: rotate(45deg);
    stroke-dasharray: 60 163 60 92;
    stroke-dashoffset: -91;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2em;
    }

    .header__link {
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--color-purple400);
        transition: all .2s;
    }

    .header__link:hover {
        font-size: 0.8rem;
        color: var(--color-purple600);
        text-shadow: 0 0 8px hsla(295, 85%, 45%, .75);
    }

    .header__line {
        border: 1px solid var(--color-purple400);
        border-radius: 1px;
        height: 1.5em;
    }

    .header__home-icon {
        color: var(--color-purple400);
        width: var(--size-base);
        height: var(--size-base);
        display: block;
    }

    .header__hamburger {
        display: none;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


/* Mobile Navigation */
.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    height: 100%;
    width: 100%;
    background-color: var(--color-purple-dark);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);

    transition: transform 1s;
}

.mobile-nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.mobile-nav__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--color-purple400);
    transition: all .2s;
}

.mobile-nav__link:hover {
    font-size: 0.8rem;
    color: var(--color-purple600);
    text-shadow: 0 0 8px hsla(295, 85%, 45%, .75);
}

.mobile-nav__line {
    border: 1px solid var(--color-purple400);
    border-radius: 1px;
    padding-right: 7em;
}

.mobile-nav__home-icon {
    color: var(--color-purple400);
    width: var(--size-base);
    height: var(--size-base);
    display: block;
}