.about__title {
	font-size: var(--size-3xl);
	color: var(--color-orange200);
	font-weight: 900;
	margin-bottom: 1rem;
}

.about {
	color: var(--color-orange800);
	display: grid;
	justify-items: center;
	gap: 2rem;

	text-align: justify;
	font-size: var(--size-sm);
}

.about__grid-item {
	max-width: 50ch;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	/* border: 1px solid red; */
}

.about__strong {
	color: var(--color-purple800);
}

.about__subtitle {
	color: var(--color-orange400);
	font-size: var(--size-xl);
	font-weight: 700;
	text-align: start;
}

.about__paragraph {
	position: relative;
}

.about__p-date {
	color: var(--color-purple800);
	font-size: var(--size-xs);
	font-weight: 500;
}

.about__p-title {
	color: var(--color-orange600);
	font-weight: 900;
}

.about__p-location {
	color: var(--color-purple800);
	font-weight: 700;
}

.about__p-description {
	margin-left: 1em;
}

.about__skills-wrapper {
	display: flex;
	justify-content: space-between;
}

.about__skill {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	color: var(--color-orange800);
}

.about__skill-header {
	color: var(--color-orange600);
	font-weight: 700;
	max-width: 10ch;
}

.about__li {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.about__svg {
	display: inline-block;
	width: 1.3em;
}

/* xs */
@media (min-width: 475px) {
	.about__p-date {
		position: absolute;
		top: .2em;
		right: 0px;
	}
}

/* sm */
@media (min-width: 640px) {
	.about__title {
		font-size: var(--size-4xl);
		padding-left: 2.9375rem;
	}

	.about__grid-item {
		font-size: var(--size-base);
	}

	.about__subtitle {
		font-size: var(--size-2xl);
	}


}

/* md */
@media (min-width: 768px) {
	.about__title {
		padding-left: 6.9375rem;
	}
}

/* lg */
@media (min-width: 1024px) {
	.about {
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
	}

	.about__title {
		padding-left: 1rem;
		font-size: var(--size-5xl);
	}
}

/* xl */
@media (min-width: 1280px) {
	.about {
		gap: 4rem;
	}

	.about__title {
		font-size: var(--size-6xl);
	}

	.about__grid-item {
		font-size: var(--size-lg);
	}

	.about__subtitle {
		font-size: var(--size-3xl);
	}

	.about__p-date {
		font-size: var(--size-sm);
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.about {
		gap: unset;
		row-gap: 4rem;
	}

	.about__title {
		padding-left: 5.3125rem;
	}
}