.contact {
    color: var(--color-purple800);
    font-size: var(--size-sm);
    text-align: center;
    justify-content: center;
    display: grid;
    gap: 1rem;
    margin-block: 3rem;
}

.contact__title {
    font-size: var(--size-3xl);
    color: var(--color-purple200);
    font-weight: 900;
}

.contact__description {
    max-width: 50ch;
}

.contact__info {
    display: flex;
    gap: .5rem;
    justify-content: center;
    color: var(--color-purple600);
    letter-spacing: .15em;
}

.contact__info-name {
    font-weight: 900;
}

.contact__info-data {
    text-align: start;
    font-weight: 500;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .contact {
        font-size: var(--size-base);
        gap: 1.5rem;
        margin-bottom: 5rem;
    }

    .contact__title {
        font-size: var(--size-4xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .contact {
        font-size: var(--size-lg);
        margin-top: 5rem;
        margin-bottom: 10rem;
    }

    .contact__title {
        font-size: var(--size-5xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .contact {
        font-size: var(--size-xl);
        gap: 2rem;
        margin-top: 8rem;
        margin-bottom: 15rem;
    }

    .contact__title {
        font-size: var(--size-6xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */