.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
}

.hero__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.hero__subtitle {
    color: var(--color-purple800);
    font-size: var(--size-base);
}

.hero__title {
    color: var(--color-purple400);
    font-size: var(--size-2xl);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.85em;
    letter-spacing: -.03em;
}

.hero__description {
    color: var(--color-purple800);
    font-size: var(--size-sm);
    max-width: 60ch;
}

.hero__button {
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: var(--size-xs);
}

/* xs */
@media (min-width: 475px) {
    .hero__img {
        width: 7rem;
        height: 7rem;
    }

    .hero__subtitle {
        font-size: var(--size-lg);
    }

    .hero__title {
        font-size: var(--size-3xl);
    }

    .hero__description {
        font-size: var(--size-base);
    }

    .hero__button {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width: 640px) {
    .hero__title {
        font-size: var(--size-4xl);
    }

    .hero__description {
        font-size: var(--size-base);
    }

    .hero__button {
        font-size: var(--size-base);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .hero__hero {
        gap: 1.5rem;
    }

    .hero__img {
        width: 8rem;
        height: 8rem;
    }

    .hero__subtitle {
        font-size: var(--size-xl);
    }

    .hero__title {
        font-size: var(--size-5xl);
    }

}

/* xl */
@media (min-width: 1280px) {
    .hero__img {
        width: 10rem;
        height: 10rem;
    }

    .hero__subtitle {
        font-size: var(--size-2xl);
    }

    .hero__title {
        font-size: var(--size-6xl);
    }

    .hero__description {
        font-size: var(--size-xl);
    }

    .hero__button {
        font-size: var(--size-xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .hero__hero {
        gap: 2rem;
    }

    .hero__img {
        width: 12rem;
        height: 12rem;
    }

    .hero__subtitle {
        font-size: var(--size-3xl);
    }

    .hero__title {
        font-size: var(--size-7xl);
    }

    .hero__description {
        font-size: var(--size-xl);
    }

    .hero__button {
        font-size: var(--size-xl);
    }
}